{# mini/pridat_hru_form.twig #}

<form class="form-horizontal">
	<label for="game_name" class="control-label">Název hry</label>
	<input name="game_name" class="form-control">
	
	<label for="avg_playtime" class="control-label">Průměrná doba hry</label>
	<div class="input-group">
		<input type="text" name="avg_playtime" class="form-control">
		<span class="input-group-addon">minut</span>
	</div>
	<br>
	<input type="submit" name="submit" value="Uložit hru" class="form-control btn btn-default">
</form>
