{# mini/rezervace_form.twig #}

<form class="form-horizontal">
	<div class="row">
		<div class="col-sm-7">
			<label class="control-label" for="game_type_id">Hra</label>
			<select name="game_type_id" class="form-control">
				{% for g in games %}
					<option  value="{{ g.game_type_id }}">{{ g.game_name }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-sm-5">
			<label for="desk_id" class="control-label">Stůl</label>
			<select name="desk_id" class="form-control">
				<option value="0">Nerezervovat stůl</option>
				{% for d in desks %}
					<option value="{{ d.desk_id}}">{{ 'Stůl číslo %02d (míst: %d)'|format(d.desk_id, d.capacity) }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<label class="control-label" for="reservation_date">Datum rezervace</label>
			<input type="date" name="reservation_date" class="form-control">
		</div>
		<div class="col-sm-4">
			<label class="control-label" for="time_from">Čas rezervace</label>
			<input class="form-control" type="time" name="time_from" id="time_from">
		</div>
		<div class="col-sm-4">
			<label class="control-label" for="time_from">Čas rezervace</label>
			<input class="form-control" type="time" name="time_to" id="time_to">
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			<input type="submit" class="form-control btn btn-primary" value="Zarezervovat">
		</div>
	</div>
</form>
