{# uzivatel/mini_reviews.twig #}
{% for r in ratings['list'] %}
	{% include "mini/game_rating.twig" with {'r': r, 'link':'game'} %}
{% else %}
	<span>Zatím jsem nerecenzoval žádnou hru</span>
{% endfor %}
	