{# uzivatel/mojeUdaje.twig  #}

{% extends "uzivatel/zobrazitProfil.twig" %}

{% block zmenitUdajePanel %}
	<div class="panel panel-default myDetails">
		<div class="panel-body">
			<form class="form-horizontal" action="{{ urlgen.url(form_action) }}" method="post">
				<label for="nickname">Přezdívka</label>
				<div class="input-group">
					<input type="text" name ="nickname" class="form-control" value="{{ user.nickname }}">
					<span class="input-group-btn">
						<input type="submit" class="form-control btn btn-primary" value="Změnit přezdívku">
					</span>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block reservationsTitle %}
	Mé rezervace tento týden
{% endblock %}

{% block subscriptionsTitle %}
	Hry, které sleduji
{% endblock %}

{% block ratingsTitle %}
	Mnou zhodnocené hry
{% endblock %}