{# uzivatel/mojeUdaje.twig  #}

{% extends "uzivatel/zobrazitProfil.twig" %}

{% block mojeUdajePanelBody %}
	<form class="form-horizontal" action="{{ urlgen.url(form_action) }}" method="post">
		<div class="row">
			<div class="col-md-5">
				<label class="control-label" for="name">Jméno</label>
				<input type="text" name ="name" class="form-control" value="{{ user.name }}">
			</div>
			<div class="col-md-5">
				<label class="control-label" for="surname">Příjmení</label>
				<input type="text" name="surname" class="form-control" value="{{ user.surname }}">
			</div>
			<div class="col-md-2">
				<label class="control-label" for="submit"> </label>
				<input type="submit" class="form-control btn btn-primary" value="Uložit detaily">
			</div>
		</div>
	</form>
{% endblock %}