{# ohlas/pridat.twig #}
{% extends layout %}

{% block bodyContent %}
	Před nahlášením chyby nebo návrhu na vylepšení prosím zkontrolujte, zda-li se 
	váš příspěvek nepodobá některému již zadanému příspěvku podle stručného popisu v seznamu vpravo.
	<div class="row mainRow">
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">Ohlášení chyby</div>

				<div class="panel-body">
					<form class="form-horizontal" action="{{ urlgen.url(formAction) }}" method="post">
						<div class="row">
							<div class="col-lg-8">
								<label for="label" class="control-label">Krátký popis příspěvku</label>
								<input tyle="text" name="label" class="form-control">
							</div>
							<div class="col-lg-4 col-sm-12">
								<label class="control-label">Typ příspěvku</label>
								<div class="btn-group btn-group-justified" data-toggle="buttons">
									<label class="btn btn-warning active">
										<input type="radio" name="feedback_type" id="rad_bug" value="1" checked> Chyba
									</label>
									<label class="btn btn-info">
										<input type="radio" name="feedback_type" id="rad_sug" value="2"> Návrh
									</label>
								</div>
							</div>
							<div class="col-sm-12">
								<label class="description">Detailní popis</label>
								<textarea name="description" rows="6" class="form-control"></textarea>
							</div>
							<div class="col-sm-offset-8 col-sm-4">
								<input type="submit" class="btn btn-primary form-control">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default feedbackList">
				<div class="panel-heading">
					Zadané ohlasy
					{% if user.isAdministrator %}
						<a class="btn btn-primary pull-right" href="{{ urlgen.url(detailedList) }}">Zobrazit detailně</a>
					{% endif %}
				</div>
				<div class="panel-body">
					<div class="list-group">
						{% for fb in feedbackItems %}
							<span class="list-group-item {% if fb.isBugReport() %}list-group-item-warning{% elseif fb.isFeatureSuggestion %} list-group-item-info{% endif %}">
								{{ fb.label }}
							</span>
						{% else %}
							<span class="list-group-item list-group-item-success">Nejsou nahlášeny žádné chyby nebo návrhy na vylepšení</span>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}