{# sprava/ovladaciPanel.twig  #}
{% extends layout %}

{% block bodyContent %}
	<div class="panel panel-default">
		<div class="panel-heading">Odesílání hromadných emailů</div>
		<div class="panel-body">
			<label for="game_type_id" class="control-label" >Katalog her a evidenčních čísel</label for>
			<form class="form-horizontal" action="{{ urlgen.url(send_url) }}" method="post">
				<select name="game_type_id" class="form-control">
					{% for g in games %}
						<option>{{ '%s (%d)'|format(g.game_name, g.subscribed_users)}}</option>
					{% endfor%}
				</select>
			<label for="text_body" class="control-label">Text mailu</label>
			<textarea name="text_body" class="form-control" rows="6"></textarea>
			</form>
		</div>
	</div>
					
<div class="panel panel-default">
	<div class="panel-heading"><h2 class="panel-title">Odkazy na letiště</h2></div>
	<div class="panel-body">

	</div>
</div>
{% endblock %}