{# sprava/pridatHru.twig  #}

{% extends layout %}

{% block bodyContent %}
	<form>
		<table>
			<tr>
				<td><label for="game_name">Jméno hry</label></td>
				<td><input type="text" name="game_name"></td>
			</tr>
			<tr>
				<td><label for="avg_game_time">Prům. hrací čas [min]</label></td>
				<td><input type="number" name="avg_game_time" min="0" max="180"></td>
			</tr>
			<tr>
				<td><label for="min_players">Počet hráčů</label></td>
				<td>Od <input type="number" name="min_players" min="1" max="20"> do <input type="number" name="max_players" min="1" max="20"></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" name="submit" value="Přidat hru">
				</td>
			</tr>
		</table>	
		
	</form>
	
	
{% endblock %}