/* 
    Created on : 2.12.2015, 17:01:05
    Author     : Stepan
*/

.game{
	border: black 1px solid;
}

.game div div div{
	background: bisque;
}

.game .panel-heading{
	font-size: 2.2em;
	height: 80px;
}

.game .image-frame img{
	max-height: 64px;
}