/* 
    Created on : 2.12.2015, 17:01:05
    Author     : Stepan
*/

.game{
	border: black 1px solid;
}

.game .game-title{
	font-size: 1.72em;
}

.game .game-subtitle{
	font-size: 1.40em;
}


.game img{
	max-width: 100%; max-height: 60px;
}

.game ~ .panel-heading{
	height: 80px;
}

.game .subscribe{ background: #bce8f1; }
.game .unsubscribe{ background: #fcf8e3; }
