/* 
    Created on : 2.12.2015, 17:01:05
    Author     : Stepan
*/
.game .game_name{
	font-size: 1.72em;
}

.game .game_subtitle{
	font-size: 1.40em;
}


.game .image-frame{
	height: 100%;
	padding:0px;
	padding-right: 10px;
}

.game .image-frame img{
	max-height: 100%;
}

.game>.panel-heading{
	height: 80px;
	border: 2px solid transparent;
	border-width: 2px 6px 1px;
	overflow-y: hidden;
}
.game>.panel-heading>.row{
	height: 62px;
}

.game>.panel-body{
	border: 1px solid;
}

.game .subscribe{ background: #bce8f1; }
.game .unsubscribe{ background: #fcf8e3; }
