.myGreenBox{
    background-color: green;
    height: 200px;
}
.myBlueBox{
    background-color: blue;
    height: 200px;
}
.myHead{
    background-color: deeppink;
    color: mediumpurple;
}
.menuBox{
    background-color: #ffd800;
}