.reservations .panel-body{
	padding:0px;
	border:0px;
}
.reservations .panel-body .list-group-item{
	padding:0px;
	border-width:0px
}
.time-buttons .btn-default{
	border-top-width: 0;
	border-bottom-width: 0;
}

.btnCol, .resCol{
	padding-left: 0;
	text-align: center;
}
.resCol{padding-right: 0;}
.reservations .panel-body .list-group-item.reservationRow{
	height:48px;
	border-width:1px;
}

.dateCol{
	border-right: 1px solid lightgray;
	height:100%;
	padding-right: 0px;
}

.dateCol>.btn-default{
	border:0px;
	width: 100%;
	height: 100%;
}


.reservations .list-group-item .row,
.reservations .list-group-item .row>*{
	height:100%;
}

.resRow{
	margin-right: 0px;
}

.week-entity{
	position:absolute;
	top:0px;
	height:44px;
	border-radius: 4px;
	display:inline-block;
	border:2px solid transparent;
	overflow: hidden;
}

.week-entity a.btn-link{
	color: black;
}

.btn-bottom{
	position: absolute;
	bottom: 4px;
	opacity: 0.6;
}
.btn-bottom:hover{
	opacity: 1;
}
.btn-bottom-right{
	right: 4px;
}
.btn-bottom-left{
	left: 4px;
}
.btn-hide{
	cursor: pointer;
}

.reservation{
	background:skyblue;
}
.event{
	background:#ffd800;
	border-color: #4e4848;
}


.reservations-list img.media-object{
	width:64px;
}

#addReservation .panel-heading a{
	margin-top: -6px;
}

.badge-link, .badge-link *{
	cursor: pointer;
}

.upcomming-list{
	max-height: 120px;
	overflow-y: auto;
	overflow-x: hidden
}
.upcomming-list .list-group-item{
	padding: 0;
}